*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin vertical-center-element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    
    .block-logo{
        grid-area: 1/1/3/4;
    }
    .block-menu{
        grid-area: 1/6/2/11;
    }
    .block-title{
        background-color: rgb(255, 255, 255);
        grid-area: 3/1/6/11;
    }
    .block-main{
        background-color: white;
        grid-area: 6/1/10/11;
        
    }
    .block-footer{
        background-color: black;
        grid-area: 10/1/12/11;
        @include vertical-center-element 
        
    }
    .footer-text{
        text-decoration: none;
    }
    footer-text:hover{
        color: white;
    }
}