*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@mixin center-element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

@mixin cta-button($background-color, $width) {
    padding: 10px;
    background-color:$background-color;
    opacity:0.7;
    display:block;
    color:white;
    width: $width;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    &:hover{
        opacity : 0.5;
    } 
}

@mixin bloc-info ($width) {
    position : absolute;
    top :10%;
    left:35%;
    border-radius : 5px;
    border : 2px solid gray;
    width :$width;
    padding: 10px;
    background-color:white;
    z-index : 15;
    .resize-img{
        width:50%;
    }
                        
    .button-close{
        @include cta-button(black, "20px")
    }
}

.hidden-element{
    display : none;
}

body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    height: 100vh;
    .block-logo{
        grid-area: 1/1/2/2;
        height: 15vh;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: white;
        @include center-element;
        .logo{
            max-width: 100%;
        }
    }

    .block-menu{
        grid-area: 1/2/2/4;
        height: 15vh;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: white;
        @include center-element;
        .item-menu {
            text-decoration:none;
            &:hover{
                color:orangered;
                font-size: large;
            }
        }
    }
    
    .block-main{
        grid-area: 2/1/3/4; 
        padding:20px;
        margin-top:20px;
        background-color: rgb(228, 229, 230);
        position : relative;
        .title-main{
            text-align: left;
            border-bottom: 2px black solid;   
        }
        .block-expositions{
            margin-top : 10px;
            @include center-element;
            flex-direction: row;
            .block-exposition{
                padding: 10px;
                @include center-element;
                flex-direction: column;
                width: 33%;
                .block-exposition-image{
                    max-width: 50%;
                    &:hover{
                        max-width: 50%;
                        cursor: pointer;
                    }
                }
                .button-consulter{
                    @include cta-button(black, '20px')
                }
                .bloc-exposition-info{
                   @include bloc-info(30%);
                }
                .bloc-exposition-info-2{
                    @include bloc-info(20%);
                 }
            }
        }
    }

    .block-footer{
        background-color: black;
        grid-area: 3/1/4/4;
        height: 15vh;
        @include center-element; 
        flex-direction: column; 
        .footer-link{
            text-decoration: none;
            color: white;
            &:hover{
                color: aqua;
            }
        }
        &>.footer-social{
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-top: 3vh;
            &>a img{
                width:30px;
                border-radius:50%;
            }           
        }
    }  
}

@media screen and (max-width: 590px){
    body .block-logo{
        grid-area: 1/1/2/4;
    }
    body .block-menu{
       grid-area: 2/1/3/4 
    }
    body .block-main {
        grid-area: 3/1/4/4;
        .title-main{
            width: 100%;
        }
        .block-expositions{
            flex-direction: column;
            gap: 5vh;
            .block-exposition{
                width:100%;
                .block-exposition-image{
                    max-width: 100%;
                    &:hover{
                        max-width: 100%;
                        cursor: pointer;
                    }
                }
                .bloc-exposition-info{
                    width: 97%;
                    left:2%;
                }
                .bloc-exposition-info-2{
                    width: 97%;
                    left:2%;
                }
            }
        }     
    }
    body .block-footer {
        grid-area: 4/1/5/4;
    }
} 